<html>
<head>
<style>

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  font-weight:bold;
}

tr td:last-of-type {
    /* styling here */
    width:290px !important;
}
td{
    font-size:12px;
}
th{
    font-size:15px;
}

/* header css */
.header-black {
    background-color: rgb(13, 13, 13);
    color: white;
  }

  /* Sub header css */
  .sub-header {
    background-color: rgb(255, 192, 0);
    color: black;
    width:100px;

  }
  
  /* special row css */
  .special-row-blue {
    background-color: rgb(47, 85, 151);
    color: white; 
    
  }
  
  .special-row-orange {
    background-color: rgb(197, 90, 17);
    color: white; 
   
  }
  .special-row-green {
    background-color: rgb(84, 130, 53);
    color: white;
    
  }
  .special-row-brown{
    background-color: rgb(128, 96, 0);
    color: white;
    
  }
  .special-row-sky {
    background-color: rgb(46, 117, 182);
    color: white;
    
  }

  .grand-total{
    background-color: rgb(0, 32, 96);
    Color:white;
    }
    </style>
    
    <body>
        <center> 
        #set( $count = 1 )
         #foreach( $t in $tables)
        <table>
         <tr class="header-black">
         <th id="par" colspan="40" scope="colgroup">${t.heading}</th>
         </tr>
          #foreach( $i in $t.rows)
         <tr>
         #foreach( $p in $i.cells)
         <td class=${i.style}>${p}</td>
         #end
         </tr>
          #end
        </table>
        <br>
        <br>
       #end
        <br/>
        </center>
    </body>
</html>
